<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo App</title>
    <style>
      .delete-box{
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
      }
      #todos {
        font-size: 1.2rem;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 200px;
      } 
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    
    <form id="form">
      <input type="text" name="description" id="description" />
      <input type="submit" name="Create" />
    </form>

    <ul id="todos">
      {% for d in data %}
      <li>
        <input type="checkbox" name="completed" data-id="{{ d.id }}" value="true" class="check-completed" {% if d.completed %} checked {% endif %}> 
        {{d.description}}
        <button class="delete-box" data-id="{{d.id}}">&cross;</button>
      </li>
      {% endfor %}
    </ul>
    <div id="error" class="hidden">Something went wrong!</div>
    
    <script>
      // delete function
      const deleteButtons = document.querySelectorAll('.delete-box');
      for(let i=0 ; i< deleteButtons.length; i++){
        const btn = deleteButtons[i];
        btn.onclick = function(e) {
          const deleted_todo_id = e.target.dataset['id'];
          fetch('/todos/'+ deleted_todo_id, {
            method: 'DELETE'
          })
          .then(function(){
            document.getElementById('error').className = 'hidden';
            location.reload();
          })
          
        }
     };
      // Update function
      const checkboxes = document.querySelectorAll('.check-completed');
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function(e) {
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset['id'];
          fetch('/todos/'+ todoId + '/set-completed',
            {
              method: 'POST',
              body: JSON.stringify({
                'completed': newCompleted
              }),
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(function() {
              document.getElementById('error').className = 'hidden';
            })
            .catch( function(){
              document.getElementById("error").className = "";
            });
        }
      };
      //Create function 
      const inputDesc = document.getElementById("description");
      form = document.getElementById("form");
      form.onsubmit = function(e) {
        e.preventDefault();
        const desc = inputDesc.value;
        inputDesc.value = "";
        fetch("/todos/create", {
          method: "POST",
          body: JSON.stringify({
            'description': desc
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
          .then(Response => Response.json())
          .then(jsonResponse => {
            console.log("response", jsonResponse);
            li = document.createElement("li");
            li.innerText = desc;
            document.getElementById("todos").appendChild(li);
            document.getElementById("error").className = "hidden";
          })
          .catch( function(){
            document.getElementById("error").className = "";
          })
      };
    </script>
  </body>
</html>
